.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

.list {
    display: flex;
    list-style: none;
}

.item {
    font-size: 18px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

.item:not(:last-child) {
    margin-right: 20px;
}

.link {
    text-decoration: none;
    color: rgb(243, 243, 243);
}

.link:hover {
    color: rgb(221, 4, 124);

}

.link:focus {
    color: rgb(221, 4, 124);

}