.item {
    margin: 0;
    padding: 0;
    list-style: disc;

    font-size: 14px;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

.link {
    text-decoration: none;
    color: rgb(242, 239, 239);

    &:hover,
    &:focus {
        color: rgb(226, 12, 158);
    }
}

.movieList {
    padding: 20px;
}